input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: none !important;
}

#game-field {
  background-color: turquoise;
  margin: 30px auto;
  padding: 30px;
  max-width: 700px;
  max-height: 800px;
  z-index: 2;
}

.number {
  background-color: white;
  color: rgb(51, 51, 51);
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 5px;
}
.game-body {
  margin-top: 20px;
  padding-top: 20px;
  border-top: white 2px solid;
}
.content-left {
  padding-top: 20px;
}
.content-right {
  padding-top: 20px;
  color: white;
  font-size: 25px;
}
.guess {
  border: none !important;
  border-radius: 7px 0px 0px 0px;
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 30px;
}
.btn-outline-primary {
  color: rgb(255, 255, 255) !important;
  border: 1px solid white !important;
  border-radius: 0px 0px 7px 0px !important;
  width: 200px;
}
.btn-outline-primary:hover {
  color: rgb(255, 255, 255) !important;
  border: none !important;
  border-radius: 0px 0px 7px 0px !important;
  width: 200px;
  background-color: tomato !important;
}
.again {
  margin-top: 10px;
}
.btn-primary {
  color: rgb(255, 255, 255) !important;
  background-color: tomato !important;
  border: none !important;
  border-radius: 7px 0px 7px 0px !important;
  width: 200px;
}
.info {
  padding-top: 20px;
  margin: 0;
  color: white;
  font-size: 20px;
}

#modal {
}
.greeting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  color: white;
  background-color: red;
  padding: 2rem;

  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.hidden {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 5;
}
